
.background {
  background: linear-gradient(-90deg, white , black); 
}
.logo {
  background-image: url('https://wintercheryapps.github.io/rjradiosations/web_hi_res_512.png');
}
.progressBar {
  background-color: rgb(255, 2, 2);
}
.splash {
  background-image: url('https://wintercheryapps.github.io/rjradiosations/web_hi_res_512.png');
}
.watermark {
  background-image: url('https://wintercheryapps.github.io/rjradiosations/logo_transparant.png');
  background-size: 128px 128px;
}

